adf/pipeline/0_master_ingestion_databases.json
{
	"name": "0_master_ingestion_databases",
	"properties": {
		"description": "Job that loads metadata on tables from watermark table and lands and bronzes to delta-files",
		"activities": [
			{
				"name": "get_table_list",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT [SourceTableId] ,[SourceSQLKeyVaultConnectionString],[SourceDBName] ,[SchemaName] ,[TableName] ,[LoadType] ,[WaterMarkColumn] ,[PKColumn] ,[WaterMark_Landing] ,[WaterMark_Bronzing] ,[Is_Active] ,[Last_ETL_Timestamp] ,[SelectColumns] FROM [dbo].[WatermarkTable] \nWHERE Is_Active = 1\nAND Current_PipelineRunID is null\nAND (DATEDIFF(MINUTE, Last_ETL_Timestamp, getdate()) > ([LoadFrequency] * 0.95)\nOR Last_ETL_Timestamp IS NULL)\n\n;\nUPDATE [dbo].[WatermarkTable]\nSET Current_PipelineRunID = '@{pipeline().RunId}'\nWHERE Is_Active = 1\nAND Current_PipelineRunID is null\nAND (DATEDIFF(MINUTE, Last_ETL_Timestamp, getdate()) > ([LoadFrequency] * 0.95)\nOR Last_ETL_Timestamp IS NULL)\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "land_for_each_table",
				"description": "copy activity for all tables from get_table_list -step",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "get_table_list",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('get_table_list').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 10,
					"activities": [
						{
							"name": "landing",
							"type": "Switch",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@item().LoadType",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "Full",
										"activities": [
											{
												"name": "1_land_data_full",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "1_land_data_full",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true
												}
											}
										]
									},
									{
										"value": "Delta",
										"activities": [
											{
												"name": "1_land_data_delta",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "1_land_data_delta",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true
												}
											}
										]
									},
									{
										"value": "OneTime",
										"activities": [
											{
												"name": "1_land_data_one_time",
												"description": "if we want to land data just once. never do a full load or a delta load again, we invoke this pipeline.",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "1_land_data_delta",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true
												}
											}
										]
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "get_landed_tables",
				"description": "redo query to get list of all successfully landed tables.",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "land_for_each_table",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT [SourceTableId] ,[SourceDBName] ,[SchemaName] ,[TableName] ,[LoadType] ,[WaterMarkColumn] ,[PKColumn] ,[WaterMark_Landing] ,[WaterMark_Bronzing] ,[Is_Active] ,[Last_ETL_Timestamp] ,[SelectColumns] FROM [dbo].[WatermarkTable] \nWHERE [Last_PipelineRunID] = '@{pipeline().RunId}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "reset_current_pipeline_id",
				"description": "update watermark table with nulls on column \"current_pipeline_id\"",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "bronze_for_each_table",
						"dependencyConditions": [
							"Skipped",
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 3,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"scripts": [
						{
							"type": "NonQuery",
							"text": {
								"value": "UPDATE [dbo].[WatermarkTable]\nSET Current_PipelineRunID = NULL\nWHERE Current_PipelineRunID = '@{pipeline().RunId}'",
								"type": "Expression"
							}
						}
					]
				}
			},
			{
				"name": "bronze_for_each_table",
				"description": "For every n tables, start a spark cluster",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "get_landed_tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@range(\n    1,\n    div(\n        sub(\n            add(\n                activity('get_landed_tables').output.count\n                ,pipeline().parameters.MaxSequentialTablesToBronze\n            )\n            ,1\n        )\n        ,pipeline().parameters.MaxSequentialTablesToBronze\n    )\n)",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 6,
					"activities": [
						{
							"name": "bronze_data",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "2_bronzing_databricks_notebooks",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					]
				}
			}
		],
		"parameters": {
			"MaxSequentialTablesToBronze": {
				"type": "int",
				"defaultValue": 12
			}
		},
		"folder": {
			"name": "0_master_pipelines"
		},
		"annotations": []
	}
}