adf/pipeline/2_bronzing_databricks_notebooks.json
{
	"name": "2_bronzing_databricks_notebooks",
	"properties": {
		"activities": [
			{
				"name": "update_watermark_table",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "bronze_all_tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "altro_orchestration",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "NonQuery",
							"text": {
								"value": "\nUPDATE [dbo].[WatermarkTable]\n\nSET [WaterMark_Bronzing] = [WaterMark_Landing]\n, [Last_ETL_Timestamp] = GETDATE()\n, [Is_Active] = CASE WHEN [LoadType] = 'OneTime' THEN 0 ELSE [Is_Active] END\nWHERE SourceTableId IN (\n@{activity('BronzeAllTables').output.status.Output.result.exitValue}\n)",
								"type": "Expression"
							}
						}
					]
				}
			},
			{
				"name": "bronze_all_tables",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": []
			}
		],
		"parameters": {
			"TableList": {
				"type": "string",
				"defaultValue": [
					{
						"RowNumber": 1,
						"SourceTableId": 108,
						"SourceDBName": "altro",
						"SchemaName": "dbo",
						"TableName": "employee",
						"LoadType": "Full",
						"WaterMarkColumn": null,
						"PKColumn": null,
						"WaterMark_Landing": null,
						"WaterMark_Bronzing": null,
						"Is_Active": 1,
						"Last_ETL_Timestamp": "2023-02-21T14:53:10.24Z",
						"SelectColumns": "*"
					},
					{
						"RowNumber": 2,
						"SourceTableId": 109,
						"SourceDBName": "altro",
						"SchemaName": "dbo",
						"TableName": "worklog",
						"LoadType": "Full",
						"WaterMarkColumn": null,
						"PKColumn": "worklog_id",
						"WaterMark_Landing": null,
						"WaterMark_Bronzing": null,
						"Is_Active": 1,
						"Last_ETL_Timestamp": "2023-02-21T14:53:10.24Z",
						"SelectColumns": "*"
					}
				]
			},
			"IterationNumber": {
				"type": "int",
				"defaultValue": 1
			},
			"MaxSequentialTablesToBronze": {
				"type": "int",
				"defaultValue": 12
			},
			"NumberOfTables": {
				"type": "int",
				"defaultValue": 21
			}
		},
		"folder": {
			"name": "2_bronzing"
		},
		"annotations": []
	}
}